@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss/theme";

/* globals.css */
body {
  background-color: transparent; /* Your palette's base light color */
  margin: 0;
  padding: 0;
}

.hover-lift {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.hover-lift:hover {
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
  }